html {
  display: flex;
  width: 100%;
  min-height: 100%;
  /*overflow: auto;*/
}

body {
  flex: 1;
  margin: 0px;
  background: #222;
  font-weight: 300;
  background-image: url("images/cool-background.png");
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);

  font-family: "IBM Plex Mono", sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(9, 123, 223);
}
a:hover {
  color: rgb(64, 166, 255);
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

header {
  position: relative;
  background-color: white;
  min-height: 1%;
  width: 100%;
}

#logo-container {
  position: relative;

  width: 100%;

  padding-left: 1%;
  padding-top: 10px;

  font-family: "IBM Plex Mono", sans-serif;
  font-weight: normal;
  color: white;
  background-color: transparent;

  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  text-align: center;
}

.header-pusher {
  width: 100%;
  height: 2vh;
}

header nav {
  width: 100%;

  background-color: transparent;
  z-index: 0;
  text-align: right;
}

header nav ul {
  margin: 0;
  padding: 1%;
  list-style: none;
}

header nav li {
  display: inline-block;
  margin-left: 1%;
  /*padding-top: 10%;*/
  font-family: "IBM Plex Mono", sans-serif;
  height: 0;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

header nav ul li a:hover {
  color: #ffcd00;
  background-color: #182b49;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.image-container {
  width: 100%;
  /*min-height:100%;*/
  height: auto;
}
.cool-image {
  background-image: url("https://cutewallpaper.org/21/police-screensavers/Free-download-Download-Police-Lights-Wallpaper-Mobile-tablet-.jpg");
  position: fixed;
  z-index: -1;
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  top: -1%;
  left: 0;
}

#content-area {
  margin-top: 30%;
  background-color: white;
  color: black;
  padding: 2.5%;
}

footer {
  position: relative;
  background-color: white;
  width: 100%;
  height: 15%;
  color: black;
  min-height: 100px;
}

footer p {
  text-align: center;
  color: white;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 0.9em;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#contact-section {
  border-radius: 5px;
  background-color: coral;
  padding: 20px;
  margin-bottom: 0%;
}

/* shared stuff for activities, project-templates, and resources pages */
.entry {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 3%;

  padding: 0%;

  background-color: black;
  color: white;

  border: 1px solid white;
}

.entry-title {
  width: 99%;
  padding-left: 1%;
  padding-bottom: 1%;

  font-size: 1.5rem;
  font-weight: bold;

  border-bottom: 1px solid white;
}
.entry-description {
  padding-left: 1%;
}
.entry-button {
  width: 30%;
  text-align: center;

  font-family: "Press Start 2P", cursive;
  font-decoration: none;
  color: white;
  background-color: rgb(0, 150, 0);
  margin: 2%;
  padding: 2%;

  display: inline-block;

  margin-left: 1%;
  margin-right: auto;
}
.entry-button:hover {
  background-color: rgb(0, 200, 0);
  color: rgb(230, 230, 230);
}
.entry-sandbox-url {
  color: white;
}
.entry-github-url {
  color: white;
}

.entry-github-repo-button {
  font-size: 0.5em;
  width: 7.5%;
  background-color: rgb(150, 150, 150);
}
.entry-github-repo-button:hover {
  background-color: rgb(180, 180, 180);
}

.entry-sandbox-repo-button {
  font-size: 0.5em;
  width: 7.5%;
  background-color: rgb(50, 50, 50);
}
.entry-sandbox-repo-button:hover {
  background-color: rgb(130, 130, 130);
}

@media all and (orientation: portrait) {
  body {
    font-size: 2rem;
  }

  header {
  }
  header nav {
    width: 100%;
  }
  header nav ul li a {
    font-size: 1rem;
  }

  .cool-image {
    background-position: center 0%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 150%;
    height: 100%;
    top: 0%;
    left: -25%;
  }

  #content-area {
    margin-top: 40%;
  }

  .page-description {
    font-size: 0.5em;
  }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.race,
.connotation,
.date {
  width: 10%;
}
.event {
  width: 70%;
}
.resources {
  text-align: left;
  text-indent: -4em;
  margin-left: 6em;
}

.regression-image {
  width: 100%;
}
.distrb-image {
  width: 55%;
}
.ttest-image {
  width: 50%;
}
.ttest2-image {
  width: 75%;
}
.ttesteq-image {
  width: 15%;
}

.sidebyside {
  float: left;
  padding: 5px;
}
.side::after {
  content: "";
  clear: both;
  display: table;
}
